@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.main {
  padding: 1rem;
}

.calculator-main {
  display: grid;
  grid-template-columns: auto 700px;

  .app {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    .screen {
      height: 100px;
      width: 100%;
      background-color: #848793;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 4rem;
      color: white;
      padding: 1rem;
    }

    .button-panel {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      max-width: 100%;

      > div {
        display: flex;

        input[type='button'] {
          height: 100px;
          border: 1px solid rgba(128, 128, 128, 0.322);
          font-size: 3rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .calculator-main {
    grid-template-columns: 1fr;
  }
}
